.btn-watch__up116{
  max-width: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b8f28;
  font-size: 13px;
  line-height: 19px;
  padding-top: 4px;
  min-height: 26px;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 750ms;
}
.btn-watch__up116:hover{
  box-shadow: inset 2px 1px 5px #222;
}