/*--ボディ---------------------*/

body {
	margin: 0px 0px;
	padding: 0px;
	color: #333333;
	background-color: #eee;
	font: 12px/16px "メイリオ";
}

ul,li {
	margin: 0;
	padding: 0;
}

a:link {
	color: #003366;
	text-decoration: underline;
}

a:visited {
	color: #003366;
	text-decoration: none;
}

a:hover {
	color: #003366;
	text-decoration: none;
}

#caution a:link {
	color: red;
	text-decoration: underline;
	font-size: 110%;
}

#caution a:visited {
	color: red;
	text-decoration: none;
	font-size: 110%;
}

#caution a:hover {
	color: red;
	text-decoration: none;
	font-size: 110%;
}

/* ============ パンくずナビ ============ */

div.breadnavi {
	padding: 3px 5px 8px;
	font-size: 10px;
	margin-bottom: 15px;
	color: #226800;
	right: 10px;
}

/* ============ copyright ============ */

.copy {
	font-size: 10px;
	color: #999999;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

table.schoollist {
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	width: 530px;
	background-color: #FFF;
	color: #333;
}

table.schoollist th,table.schoollist2 th {
	text-align: left;


/* [disabled]border: solid 1px #CAF95B; */
	padding: 3px 5px;
	font-weight: bold;
	font-size: 12px;
	line-height: 1;
	margin: 0;
	width: 100%;
	background-color: #588F17;
	color: #FFF;
}

table.schoollist td {
	font-size: 12px;
	line-height: 120%;
	width: 25%;
	padding: 2px;
	border: 1px solid #CCCCCC;
}

table.schoollist2 {
	margin-top: 10px;
	margin-left: 20px;
	border: 1px #CAF95B solid;
	width: 530px;
}

table.schoollist2 td {
	font-size: 12px;
	line-height: 120%;
	width: 33%;
	padding: 2px;
	border: 1px #E2F2A4 solid;
}

.main1 {
	margin-left: 20px;
	font-size: 12px;
	line-height: 16px;
}

.mainline {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.maintitle {
	margin-left: 20px;
	margin-bottom: 12px;
}

.text {
	line-height: 160%;
	color: #333333;
	margin-left: 20px;
}

.text01 {
	line-height: 160%;
	color: #333333;
	margin-left: 20px;
	background-image: url(../../news/img/news09_ph02.gif);
	background-repeat: no-repeat;
}

.maintitle2 {
	margin-left: 20px;
	margin-bottom: 12px;
	margin-top: 25px;
}

.text2 {
	font-size: 12px;
	line-height: 160%;
	color: #333333;
	padding-left: 15px;
}

.textS {
	font-size: 10px;
	line-height: 140%;
	color: #333333;
	margin-left: 20px;
}

.small {
	font-size: 10px;
	line-height: 130%;
	color: #333333;
}

.table2 {
	font-size: 12px;
	line-height: 160%;
}

.text3 {
	font-size: 12px;
	color: #333333;
	padding-left: 5px;
}

.text4 {
	font-size: 12px;
	color: #333333;
	padding-left: 5px;
	padding-right: 5px;
}

.text5 {

	line-height: 160%;
	color: #333333;
}

.table3 {
	font-size: 12px;
	line-height: 140%;
}

.textmap {
	font-size: 12px;
	line-height: 200%;
	color: #333333;
	margin-left: 30px;
}

.red {
	font-size: 10px;
	color: #CC0000;
}

.textL {
	font-size: 14px;
	line-height: 150%;
}

.img {
	margin-right: 10px;
	margin-bottom: 10px;
}

/* ============ padding共通 ============ */

.t10 {
	padding: 10px 0px 0px 0px
}

.b10 {
	padding: 0px 0px 10px 0px
}

.l10 {
	padding: 0px 0px 0px 10px
}

.r10 {
	padding: 0px 10px 0px 0px
}

/* ============ スケジュールページ用リスト ============ */

.sche-ul {
	margin: 0px 0px 0px 10px;
	padding: 0;
	list-style: outside disc url(../../activity/img/schedule_marker.gif);
}

.sche-ul li {
	margin: 0;
	padding: 0;
}

/* ============ ホームページ用スタイル ============ */

.tbl1 {
	width: 530px;
	font-family: "メイリオ";
	font-size: 12px;
	margin-top: 10px;
	line-height: 180%;
}

.tbl2 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl1 th,.tbl2 th {
	width: 130px;
	text-align: left;
	vertical-align: top;
}

.tbl1 td,.tbl2 td {
	width: 400px;
	text-align: left;
	vertical-align: top;
}

.tbl3 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl3 td {
	width: 100%;
	text-align: left;
	vertical-align: top;
}

.tbl4 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl4 th {
	width: 85px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.tbl4 td {
	width: 440px;
	text-align: left;
	vertical-align: top;
}

.tbl5 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl5 th {
	width: 85px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.tbl5 .td1 {
	width: 350px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

.tbl5 .td2 {
	width: 80px;
	text-align: left;
	vertical-align: top;
}

.tbl5 td img {
	vertical-align: middle;
}

.tbl6 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl6 th {
	width: 85px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.tbl6 .td1 {
	width: 50px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

.tbl6 .td2 {
	width: 300px;
	text-align: left;
	vertical-align: top;
}

.tbl6 .td3 {
	width: 80px;
	text-align: left;
	vertical-align: top;
}

.tbl6 td img {
	vertical-align: middle;
}

.tbl7 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	line-height: 180%;
}

.tbl7 th {
	width: 85px;
	text-align: left;
	vertical-align: top;
}

.tbl7 td img {
	vertical-align: middle;
}

.tbl8 {
	width: 530px;
	margin-top: 10px;
	line-height: 180%;
}

.tbl8 td {
	width: 530px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	font-size: 13px;
}

.tbl8 td img {
	vertical-align: middle;
}

.tbl9 {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl9 th {
	width: 85px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.tbl9 td {
	color: red;
	font-weight: noramal;
}

.tbl9 td img {
	vertical-align: middle;
}

.tbl_q {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 180%;
}

.tbl_q th {
	width: 85px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.tbl_q td {
	font-weight: noramal;
}

.tbl_q td img {
	vertical-align: middle;
}

.tbl_free {
	width: 530px;
	font-size: 12px;
	margin-top: 10px;
	line-height: 180%;
}

/* ============ インフォメーションページ用スタイル ============ */

.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list1 li {
	margin: 0;
	padding: 0 0 0 12px;
	text-indent: -12px;
}

.red0 {
	color: #CC0000;
}

/* ============ 国際交流会館のご案内ページ用スタイル ============ */

.placehall_eventphoto {
	text-align: center;
}

.placehall_eventphoto img {
	background: #FFFFFF;
	border: solid 1px #9EC145;
}

.placehall_01-04 {
	clear: both;
}

.placehall_01-04 p {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

.placehall_01-04 .left {
	float: left;
}

.placehall_01-04 .right {
	float: right;
}

.placehall_01-04 img {
	background: #FFFFFF;
	border: solid 1px #9EC145;
}

.center {
	text-align: center;
}

/* ============ 追加用スタイル ============ */

.event_waku {
	padding: 5px 5px 7px;
	margin-left: 20px;
	border: 1px solid #999999;
}

.event_waku_red {
	padding: 5px 5px 7px;
	margin-left: 20px;
	border: 1px solid red;
}

.red {
	color: #F00;
	font-size: 13px;
	line-height: 16px;
}

.red_link a {
	color: #F00;
}

.red_b {
	color: red;
	font-weight: bold;
}

.red_bl {
	color: red;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 2px;
}

#toform {
	background-color: #c8e9ff;
	margin: 10px 50px;
	text-align: center;
	padding: 5px;
}

#wrapper #container #main h1 {
	color: #588F17;
	font-size: 27px;
	font-weight: bold;
	margin: 30px 0 15px;
	padding: 0;
	line-height: 1.5em;
}

#imghead {
	margin-top: 43px;
	margin-bottom: 10px;
	display: block;
}

#wrapper #container #main .mid {
	color: #588F17;
	font-size: 24px;
	font-weight: bold;
	margin: 30px 0 0 0;
	padding: 0;
}


#wrapper #container #main .mid2 {
	color: #588F17;
	font-size: 22px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0;
}




#wrapper #container #main .mid3 {
	color: #588F17;
	font-size: 27px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0;
}



#wrapper #container #main h2 {
	background-image: url(../../img/cir_icon.jpg);
	background-repeat: no-repeat;
	font-weight: normal;
	padding-left: 1.2em;
	font-size: 17px;
	/*background-position: left;*/
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin: 30px 10px 10px 0;
	padding-bottom: 7px;
	
}

#wrapper #container #main h3 {
	background-image: url(../../img/cir_icon.jpg);
	background-repeat: no-repeat;
	font-weight: normal;
	padding-left: 1.2em;
	font-size: 17px;
	background-position: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin: 15px 20px 10px;
}

#wrapper #container #main .h2 {
	background-image: url(../../img/cir_icon.jpg);
	background-repeat: no-repeat;
	font-weight: normal;
	font-size: 14px;
	background-position: left;
	margin-top: 15px;
	margin-bottom: 10px;
}

#wrapper #container #main h3 span {
	font-size: 14px;
	!important
margin-left: -59px;
!important
}

/*追加スタイル*/

.f_left {
	float: left;
	display: block;
}

.f_right {
	float: right;
	display: block;
}

.clear {
	clear: both;
}

.bottom10 {
	height: 10px;
}

.bottom20 {
	height: 20px;
}

.bottom30 {
	height: 30px;
}

.bottom40 {
	height: 40px;
}

.bottom50 {
	height: 50px;
}

.bottom60 {
	height: 60px;
}

.bottom70 {
	height: 70px;
}

.bottom80 {
	height: 80px;
}

.bottom90 {
	height: 90px;
}

.bottom100 {
	height: 100px;
}

.bottom110 {
	height: 110px;
}

.bottom120 {
	height: 120px;
}

.bottom130 {
	height: 130px;
}

.bottom140 {
	height: 140px;
}

.bottom150 {
	height: 150px;
}

.bottom160 {
	height: 160px;
}

.bottom170 {
	height: 170px;
}

.bottom180 {
	height: 180px;
}

.bottom190 {
	height: 190px;
}

.bottom200 {
	height: 200px;
}

.bottom210 {
	height: 210px;
}

.bottom220 {
	height: 220px;
}

.bottom230 {
	height: 230px;
}

.bottom240 {
	height: 240px;
}

.bottom250 {
	height: 250px;
}

.bottom260 {
	height: 260px;
}

.bottom270 {
	height: 270px;
}

.bottom280 {
	height: 280px;
}

.bottom290 {
	height: 290px;
}

.bottom300 {
	height: 300px;
}#main_in .under_h2 {
	color: #F30;
	text-align: right;
	font-weight: bold;
	/*margin-top: -10px;*/
}



    
    .homestay_fin{
	font-size: 150%;
	text-align: center;
	margin-top: 70px;
	color: #999;
	margin-bottom: 50px;
		}
