

#asia_map {

  position: relative;

}

	





.hakodate_box{ 

position:absolute;

top: 270px;
    left: 120px;

}



		



.mihoro_box { 

position:absolute;

top: 270px;
    left: 120px;

}





.shibetsu_box { 

position:absolute;

top: 270px;
    left: 50px;

}





.higashisona_box { 

position:absolute;

top: 270px;
    left: 120px;

}





.iejima_box { 

position:absolute;

top: 270px;
    left: 120px;

}







.ise_box { 

position:absolute;

top: 270px;
    left: 120px;

}





#vet_h, #cam_h, #mal_h, #ind_h, #mal_h{

background:#FFF;

position:absolute;	

width:430px;

padding:10px;

top:100px;

border: 1px solid #ccc;

display: none;

opacity: 0;

}













#hakodate_h, #mihoro_h, #higashisona_h, #iejima_h, #ise_h{

background:#FFF;

position:absolute;	

width:330px;

padding:10px;

top:150px !important;

border: 1px solid #ccc;

display: none;

opacity: 0;

}







	



#shibetsu_h{

background:#FFF;

position:absolute;	

    width: 500px;
  
/*    width: 330px;*/

  padding: 10px;

top:150px !important;



border: 1px solid #ccc;

display: none;

opacity: 0;

}

	







		 



         /* Bubble pop-up */

         .popup { position:absolute; display:none; z-index:50; border-collapse:collapse; }

         .popup td.corner { height:15px; width:19px; }

           .popup td#topleft { background-image:url(img/ajax/coda-popup-bubbles/bubble-1.png); }

           .popup td.top { background-image:url(img/ajax/coda-popup-bubbles/bubble-2.png); }

           .popup td#topright { background-image:url(img/ajax/coda-popup-bubbles/bubble-3.png); }

           .popup td.left { background-image:url(img/ajax/coda-popup-bubbles/bubble-4.png); }

           .popup td.right { background-image:url(img/ajax/coda-popup-bubbles/bubble-5.png); }

           .popup td#bottomleft { background-image:url(img/ajax/coda-popup-bubbles/bubble-6.png); }

           .popup td.bottom { background-image:url(img/ajax/coda-popup-bubbles/bubble-7.png); text-align:center;}

           .popup td.bottom img { display:block; margin:0 auto; }

           .popup td#bottomright { background-image:url(img/ajax/coda-popup-bubbles/bubble-8.png); }

         .popup table.popup-contents { font-size:12px; line-height:1.2em; background-color:#fff; color:#666; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif; }

         table.popup-contents th { text-align:right; text-transform:lowercase; }

         table.popup-contents td { text-align:left; }

         tr#release-notes th { text-align:left; text-indent:-9999px; background:url(img/ajax/coda-popup-bubbles/starburst.gif) no-repeat top right; height:17px; }

         tr#release-notes td a { color:#333; }

		 

	

	

#asia_map {

  poition: relative;

}

			

			

			#asia_map a:hover{

opacity:0.8;

			}	

			

			

#wrapper #container #main #asia_map h2{

	font-size:140%;

	line-height:1.5em;

	border:none;

	height:30px;

	display:block;

    padding-left:1.5em;

	padding-top:0;

	margin-top:0;

			}	

			

			

#wrapper #container #main #asia_map h2 span{

	font-size:60%;

			}				

			

			 

			

			

	

			



			

#wrapper #container #main_container #main #main_in #asia_map p{

	font-size:150%;

			color:#000;	

			line-height:1.5em;

}

			

		 

		 

		 

	.map_left{

	float:left;

	width:250px;

}

		

		.map_center{

	float:none;

	width:250px;

  margin-left: 35px;

}





	

		

		

		.map_right{

	float:right;

	width:250px;	

		}

		

	.map_left a, .map_right a, .map_center a{

				  display: block;

  padding-top: 10px;

    text-align: center;

		}	

		

		



		

		

		

	.mm_right{

		float:left;

		width:49%;

		text-align:right;



		}

		

	.mm_left{

		float:right;

width:49%;

		text-align:left;

		}	

		

	.map_title{

	width:420px;

	text-align:center;

	margin:0 auto 10px auto;

	padding-bottom:10px;	

	border-bottom:1px solid #999;

		}	

		

		

	.map_title_narrow{

	width:300px;

	text-align:center;

	margin:0 auto 10px auto;

	padding-bottom:10px;	

	border-bottom:1px solid #999;

		}		

		

		

	.map_title p{

margin:0;

		}

		

		

	.map_title_narrow p{

margin:0;

		}				

		

		

		.map_title:after{

	clear:both;

	content:".";

	visibility:hidden;

	height:0;

	display:block;

	

		}

		

		

		

.map_title_narrow:after{

	clear:both;

	content:".";

	visibility:hidden;

	height:0;

	display:block;

	

		}		


#wrapper #container #main h2 {
    font-size: 16px;
}