/* CSS Document */
@charset "UTF-8";



#wrapper{
	width: 960px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
	
#container{
	width: 960px;
	margin: 0;
}
	

	
/*body{
  width: 100%;
  min-width: 1060px;
}	
*/	

	
#header{
	width: 100%;
	/*height: 145px;*/
	margin-bottom: 10px;
	}	
	
	
	
	
#logo{
	width: 332px;
	display: block;
	margin: 25px 0 0 10px;
	}

#head_nav{
	float:right;
	margin-top:20px;
	margin-right:10px;
	display:inline;
	}	
	
	
	
#slider{
	width: 900px;
	height: 210px;
	margin: 0 auto;
	background-color: #FFF;
	padding-top: 30px;
	}	
	
#side_block{
	float: left;
	margin-right: 10px;
	width: 210px;
}	

#main{
	float: right;
	width: 670px;
	/* [disabled]height: 900px; */
	background-color: #FFF;
	margin: 0;
	padding: 0;
}



#main_in {
	margin: 0;
	padding: 20px 30px 30px;
}





.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}	


#banner_container{
	margin-left:15px;
	}

.banner_box{
	}
	
#footer{
	width: 100%;
	height: 402px;
	background-repeat: repeat-x;
	background:url(../img/footer_back.jpg) repeat-x;
	margin-top:10px;
	

	}	
	
.center{
	display:block;
margin:0 auto;
	}	
	
.green_line{
	/* [disabled]background-color:#063; */
	width: 100%;
	height: 3px;
	}	
	
.left{
	float:left;
	display:block;
	}	
	
.right{
	float:right;
	display:block;
	}
	

#in_header{
	width: 960px;
	background-color: #FFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}	
	
.l20{
	margin-left:20px;
	}		
	
body{
	background-color:#FFF;
	}	
	
	



#header_line {
	/* [disabled]background-color: #276A0D; */
	background-image: url(../../img/head_b1.gif);
	background-repeat: repeat-x;
	height: 15px;
	margin-bottom: 10px;
}


 #side_line {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
	height: 729px;
}


 #side_line_down {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
	height: 762px;
}


 #side_line_down_life {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
	height: 823px;
}


 #side_line_down_scl {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
	height: 943px;
}


 #side_line_down_hms {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
	height: 1125px;
}


 #side_line_down_requ {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
	height: 793px;
}




 #side_line_down_dor {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
height: 928px;
}

 #side_line_down_rec {
	background-image: url(../../img/side_back.gif);
	background-repeat: repeat-y;
	width: 30px;
	float: left;
height: 793px;
}













#header #in_header .right_head {
	float: right;
	/*width:220px;*/
	height:28px;
	position: relative;
	padding-top: 25px;
	padding-right: 20px;
}



#header #in_header .right_head p {
	position: absolute;
	top: 75px;
	left: 261px;
}




#header #in_header .right_head.inqu{
	position: absolute;
	top: 93px;
	left: 72px;
}







/*#wrapper #back-top_pos_wide{
position:relative;
	top:-140px;
	margin-bottom:-140px;
	left:0;
	float:right;
	width: 30px;
	z-index:100;
}
*/


#wrapper #back-top_pos_wide {
	text-align: right;
	margin-left: 930px;
}

#wrapper #back-top_wide {
    position: fixed;
    bottom: 402px;
    }
    
#wrapper #back-top_wide span {
	 display: block;
	 }








#wrapper #container #slider_box {
	background-color: #FFF;
	width: 960px;
	height: 305px;
	margin-bottom:10px;
}




#header #header_white {
	background-color:rgba(255,255,255,0.9); 
	height: 100px;
	border:1px solid #DDD;
}

#footer #foot_in {
	width: 960px;
	height:402px;
	color: #FFF;
	padding-top:0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}





#footer a{
	color:#FFF;
	text-decoration:none;
}

#footer a:hover{
	color:#690;
	text-decoration:none;
}


#footer ul {
	list-style-type: none;
}


#footer #foot_in #f_top ul li {
	float: left;
	margin-right: 50px;
	margin-top:10px;
}

#footer #foot_in #footer_main{
	width: 930px;
	margin-left: 40px;
	margin-top: 20px;
}

#footer #foot_in #footer_main ul {
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 45px;
	margin-top: 0px;
}
#footer #foot_in #footer_main ul li {
	margin-bottom: 5px;
}




#footer a{
	text-decoration: none; 
}

#footer #foot_in #footer_main ul .li_sub {
	margin-bottom: 5px;
	text-indent: 10px;
}
#footer #foot_in #footer_main ul .li_sub2 {
	text-indent: 20px;
	margin-bottom: 10px;
}
#footer #foot_in #footer_main ul .li_sub_end {
	text-indent: 10px;
}
#footer #foot_in #footer_main ul .li_sub_top {
	margin-bottom: 5px;
}
#footer #foot_in #f_top ul .li_right {
	float:right;
	margin-left:80px;
	margin-right:0;
	font-size: 10px;
color: #bbb;
}
#wrapper #container #main_container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #container #main_container #left_body {
	float: left;
	width: 280px;
	margin: 0;
	padding: 0;
}




#container #main_container #main #top_nav ul li {
	float: left;
	margin-right: 10px;
	padding: 0px;
	list-style-type: none;
	margin-left: 0;
}





#container #main_container #main #top_nav ul {
	margin-top: 0;
	margin-left: -10px;
	list-style-type: none;
	padding: 0px;
}


#container #main_container #main #top_nav .end{
	margin-right: 0;
}




#container #main_container #main #videobox {
	clear: both;
}
#container #main_container #main #videobox p {
	float: left;
	margin-right: 10px;
}
#container #main_container #main #top_nav {
	height: 140px;
	margin-bottom: 30px;
}



#info_box {
	background: url(../img/info_box_bg.gif) repeat-y;
	display: block;

	padding-top: 5px;
	padding-bottom: 0;
	margin-bottom: 40px;
}


#info_box dl {
	margin: 0;
	padding: 0 10px 5px 0;

}
#info_box dl dt {
	float: left;
	width: 8em;
	padding: 10px 0 5px;
	line-height: 150%;
	height: 30px;
}

#info_box dl dd {
	padding: 10px 0 10px 5em;
	line-height: 150%;
	text-indent: 1em;
	float: right;
}


#info_box dl dd a{
	padding-left:100px;
}



#info_box dl .repo{
	padding: 10px 0 10px 4em;
	line-height: 150%;
	background: url(/common/img/news_repo.jpg) no-repeat 60px 10px;
}

#info_box dl .repo{
	padding: 10px 0 10px 4em;
	line-height: 150%;
	background: url(/common/img/news_repo.jpg) no-repeat 60px 10px;
	height: 30px;
}


#info_box dl .rec{
	padding: 10px 0 10px 4em;
	line-height: 150%;
	background: url(/common/img/news_rec.jpg) no-repeat 60px 10px;
}


#info_box dl .info2{
	padding: 10px 0 10px 4em;
	line-height: 150%;
	background: url(/common/img/news_info2.jpg) no-repeat 60px 10px;
}


#info_box dl .info{
	padding: 10px 0 10px 4em;
	line-height: 150%;
	background: url(/common/img/news_info.jpg) no-repeat 60px 10px;
}

#info_box dl .info2{
	padding: 10px 0 10px 4em;
	line-height: 150%;
	background: url(/common/img/news_info2.jpg) no-repeat 60px 10px;
}



.dot_line_s {
	background: url(/common/img/dot_line.gif) no-repeat;
	width: 600px;
	height: 1px;
	overflow: hidden;
	position: relative;
	left: 2px;
}

a.pdflink{
    margin: 0 2px 0 0;
    padding: 0 40px 0 0;
    background: url(/common/img/icon_pdf.png) no-repeat right 60%;
}

#table_contest{
	width:510px; 
	margin-left:20px;
	}
	
	
	
.dorm_u_btn{
	width:170px;
	margin:50px 0 0 200px;
	}	
	
	

td .section ul li ul {
	list-style-type: none;
	margin-bottom: 30px;
}
.section ul li strong {
	margin-bottom: 20px;
}
.section ul li {
	margin-bottom: 10px;
}
.section ul li ul li {
	margin-top: 5px;
}
.section ul li ul li {
	list-style-type: none;
}
.section ul li {
	list-style-type: none;
}


.bgmaximage{
  position:fixed !important;
  width:100%;
}

#back1{
	position: absolute;
	top: -2px;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 1762px;
}


.place_lan{
	margin-right:5px; 
	margin-right:50px;
	display:inline;
	}
	
	
.place_jp{
	margin:10px 0 10px 0;
	}
	
.mt10{
	margin-top:10px;
	}
.mb10{
	margin-bottom:10px;
	}				

	


/*#back1 {
	background-color: #FFF;
	background-image: url(../../img/back_1.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: center center;
	background-size:cover;
	position: absolute;

}*/

#sc_btn_box{
	margin:50px 0;
	}


#sc_btn_box ul {
	list-style-type: none;
	padding:0;
}

#sc_btn_box ul li {
	margin-bottom: 15px;
}
